<div class="container">
  <h2 class="title text-center mt-4 mb-2">Estamos quase lá!</h2>
  <p class="my-0 text-center">Para finalizarmos, preencha o seu <b>formulário de adoção</b> e conte-nos um pouco mais sobre você!</p>
  <p class="mt-0 text-center">Desta forma, teremos a certeza que vocês serão muito felizes juntos!</p>
  <div class="devise-card mt-4 mb-5 mx-auto">
    <%= render 'form', adoption_form: @adoption_form %>
  </div>
</div>
