<div class="container">

  <h2 class="title text-center title mt-4 mb-0">Editar Perfil</h2>

  <div class="devise-card mt-4 mb-5 mx-auto">
    <%= render 'form', user: @user %>
  </div>
</div>

<!-- botão para voltar e ver minha pagina principal (index user) no form-->
