<li class="nav-item dropdown">
  <%= image_tag "message.png", class:"nav-link dropdown-toggle", id:"dropdownMenuButton", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } %>
  <ul class="dropdown-menu chat-messages">
    <% @user_chatrooms.each do |chatroom| %>
      <li class="message-item">
        <% last_message = chatroom.messages.last %>
        <%= link_to (last_message&.content || "Nova conversa"), chatroom_path(chatroom), class:"text-decoration-none text-dark" %>
      </li>
    <% end %>
  </ul>
</li>
