<footer>
  <div class="d-flex flex-column align-items-center py-4">
    <div class="d-flex justify-content-center mb-3">
      <i class="fa-brands fa-instagram me-3"></i>
      <i class="fa-brands fa-facebook me-3"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>

    <div>
      <%= image_tag "logo.png", class:"img-footer" %>
      <p class="mb-0">Todos os direitos reservados</p>
    </div>
  </div>
</footer>
