* {
    font-family: $base-font;
}

.btn-orange {
    background-color: $orange;
    color: $dark;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #ce701e;
    }
}

.btn-orange-outline {
    background-color: $orange;
    color: $dark;
    border: 1px solid $orange;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: $orange;
    }
}

.btn-yellow-outline {
    background-color: #ffffff00;
    color: $dark;
    border: 1px solid $yellow;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: $yellow;
    }
}

.btn-red-outline {
    background-color: #ffffff00;
    color: $dark;
    border: 1px solid $red;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #e20f12;
        color: #ffffff00;
    }
}

.btn-red {
    background-color: #e20f12;
    color: $light-gray;
    border: 1px solid $red;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #cc0e11;
    }
}

.forgot-password {
    text-decoration: none;
    color: $dark;
}

.btn-green {
    background-color: $green;
    color: $light-gray;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: rgb(24, 187, 114);
    }
}

.btn-yellow {
    background-color: $yellow;
    color: $dark;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #d3ba2b;
    }
}

.btn-yellow-outline {
    background-color: #ffffff00;
    color: $dark;
    border: 1px solid $yellow;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: $yellow;
    }
}

.btn-red-outline {
    background-color: #ffffff00;
    color: $dark;
    border: 1px solid $red;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #e20f12;
        color: #ffffff00;
    }
}

.btn-red {
    background-color: #e20f12;
    color: $light-gray;
    border: 1px solid $red;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #cc0e11;
    }
}

.forgot-password {
    text-decoration: none;
    color: $dark;
}

.btn-green {
    background-color: $green;
    color: $light-gray;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: rgb(24, 187, 114);
    }
}

.btn-dark-green {
    background-color: #4f772d;
    color: $light-gray;
    border: none;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: #416125;
        color: $light-gray;
    }
}

.btn-dark-green-outline {
    background-color: #ffffff00;
    color: $gray;
    border: 1px solid $dark-green;
    border-radius: 10px;
    padding: 8px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
        background-color: $dark-green;
        color: $caramel-grey;
    }
}

.btn-height {
    height: 40px;
}

.btn-simple {
    background-color: #ffffff00;
    color: $dark-green;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    &:hover {
        color: #416125;
    }
}